.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
p, h1, h2, h3{
  margin: 0;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}
.link_decoration_none{
  text-decoration: none;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}
.logo {
  width: 228px;
  height: 32px;
}
.header__logo{

  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 5;
}
.text_weight_600{
  font-weight: 600;
}
.header__title {
  width: 730px;
  font-size: 50px;
  line-height: 96px;
  align-self: center;
  margin-left: 64px;
  z-index: 4;
}
.text_weight_normal{
  font-weight: normal;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}
.link_color_blue{
  color: #2f80ed;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}
.main-illustration__img{
  width: 100%;
  height: 100%;
}
.two-columns {
  width: 80%;
  margin: 100px auto;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;

  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}
.margin-30px{
  margin: 30px 0;
}
.centered-text{
  text-align: center;
}
.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  margin: 0 auto;
}
.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 20px auto 0 auto;
}
.table {
  width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto 100px auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}
.feynman {
  background: url(../images/feynman.png)left bottom/867px 637px  no-repeat;
  min-height: 800px; /*если указать как в задании 890px, то внешний вид не будет соответствовать макету, и будет не красиво, поэтому решил так.*/
  background-color: #f2f2f2;
  padding-top: 100px;
  position: relative;
}
.feynman__title {
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
}
.feynman__subtitle {
  margin: 70px auto 0 auto;
}
.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman_text_m{
  line-height: 51px;
  font-size: 36px;
}
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  color: white;
}
.section-title_theme_dark {
  position: relative;
  z-index: 1;
}
.section-subtitle_theme_dark {
  z-index: 2;
}
.table_theme_dark {
  position: relative;
  z-index: 3;
  margin: 0 auto;
}
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}
.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
}
.footer__columns {
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
  color: white;
  font-size: 18px;
}
.footer__column_content_copyright {
  flex-direction: column;
  flex-basis: 711px;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
}
.footer__column_content_info {
  line-height: 30px;
}
.footer_column-links {
  margin: 20px 0 16px 0;
}
.footer__column_content_social {
  line-height: 30px;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding-right: 10px;
}
.footer__social-icon_YouTube{
  background: url(../images/youtube-icon.svg) 0 0 no-repeat;
}
.footer__social-icon_VK{
  background: url(../images/vk_color_white.svg) 0 0 no-repeat;
}
.footer__social-icon_TikTok{
  background: url(../images/tiktok-icon.svg) 0 0 no-repeat;
}
.footer__column-link {
  color: white;
}
.disp_flex_SB{
  display: flex;
  justify-content: space-between;
}
